/* TicketDetailsTab.css */
#Body{
  background-color: grey;
  background-repeat: no-repeat;
  background-size: cover;
  
 
 
  
  
  
}
.tab {
    padding: 20px;
    max-width: 512px;
    display: inline-block;
    width: 512px;
    background-color: #0d6efd;
    border-radius: 10px;   
    height: 840px;
   
  }
  #gg{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tab h2 {
    margin-bottom: 10px;
  }
  
  .detail-item {
    margin-bottom: 15px;
  }
  
  .detail-item label {
    display: block;
    font-weight: bold;
  }
  
  .detail-item input,
  .detail-item select,
  .detail-item textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }